<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Trip Buddy</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
	<div id="wrapper">
		<h1>Welcome! Let's travel!</h1>

		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="reg">
			<h1>Registration</h1>

			<form action="/user/create" method="post">
				{% csrf_token %}
				<label for="first_name">First Name:</label>
				<input type="text" name="first_name" />
				<br />
				<label for="last _name">Last Name:</label>
				<input type="text" name="last_name" />
				<br />
				<label for="email">Email:</label>
				<input type="text" name="email" />
				<br />
				<label for="password">Password:</label>
				<input type="password" name="password" />
				<br />
				<label for="confirm_password">Confirm Password:</label>
				<input type="password" name="confirm_password" />
				<br />
				<button>Register</button>
			</form>
		</div>

		<div class="login">
			<h1>Login</h1>
			<form action="/user/login" method="post">
				{% csrf_token %}
				<label for="email">Email:</label>
				<input type="text" name="email" />
				<br />
				<label for="password">Password:</label>
				<input type="password" name="password" />
				<button>Log In</button>
			</form>
		</div>
	</div>
</body>

</html>