#wrapper{
    background-color: aliceblue;
    width: 960px;
    height: auto;

}
h1 {
    display: inline-block;

}
.logout{
    margin-left: 350px;
    margin-right: 100px;
}

button{
    font-size: 20px;

}
table{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
th{
    padding: 15px;
    text-align: center;
}
td{
    text-align: center;


}